# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List of popular languages
- List of popular libraries
- Table of popular tools
- Some arithmetic operations

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Javascript

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. Keras
4. Scikit-learn

|Data Science Tools|
|------------------|
|R studio |
|Apache Sparks|
|Tensor flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
time = 200
hours = time // 60
minutes = time % 60

print ("time in hrs:mins = ", hours, ":", minutes)

time in hrs:mins =  3 : 20

## Author
Govinda Das